DISCORD_TOKEN=
PREFIX=!

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=gambler

DB_PASSWORD_FILE=

SUPABASE_DB_URL_FILE=

STARTING_BALANCE=100000
DAILY_AMOUNT=500

PAYDAY_MIN_AMOUNT=100
PAYDAY_MAX_AMOUNT=10000
PAYDAY_CHANNEL_ID=

RESTART_LOG_CHANNEL_ID=

HOT_RELOAD=true
